// Theme's Palette
@import("C:/Users/15388/Desktop/blog/fe-interview/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/15388/Desktop/blog/fe-interview/docs/.vuepress/styles/palette.styl")